/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "stripe.css";



#profile_country_code{
    border: 1px solid #d1d5da;
    border-radius: 6px;
    height: 36px;
    margin-top: 8px;
    padding-left: 4px;
    font-size: 14px;
}

.property-items-wrapper:hover{
    .swiper-button-prev{
        visibility: visible;
    }
    .swiper-button-next{
        visibility: visible;
    }
}


.swiper {
    width: 100%;
    aspect-ratio: 1/1;
}

.swiper-button-prev{
    visibility: hidden;
    background-color: white;
    width: 26px !important;
    height: 26px !important;
    border-radius: 50%;
    background-image: url('assets/prev.svg') !important;
    border-width: 6px;
    border-color: white;
}
.swiper-button-prev::after{
    content: "" !important;
}
.swiper-button-next{
    visibility: hidden;
    background-color: white;
    width: 26px !important;
    height: 26px !important;
    border-radius: 50%;
    background-image: url('assets/next.svg') !important;
    border-width: 6px;
    border-color: white;
}
.swiper-button-next::after{
    content: "" !important;
}

.swiper-pagination-bullet{
    background-color: #ffffff !important;
}